<!DOCTYPE html>
<html>
<head>
<title>what</title>
</head>

<body>
{{ $admin := .Admin }}
<h2>Log in with</h2>
{{range .Auths}}
{{if not .Logged}}<a href="{{ .Path }}">{{ .Name }}</a>{{else}}{{ .Name }} as {{ .Credential }}{{ end }}
{{end}}
{{ if $admin }}
<h2>Create file systems</h2>
<a href="/fs">go</a>
{{ end }}
<h2>File Systems</h2>
{{range .FileSystems}}
{{ if $admin }}
<a href="/share?fs={{ .Name | urlquery }}">share {{ .Name }}</a> -
{{ end }}
<a href="/list?fs={{ .Name | urlquery }}">visit {{ .Name }}</a><br>
{{end}}
</body>
</html>
